.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #777;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    color: #fff;
}

.chart-box {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Adjust the margin as needed */
}

.chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    /* Adjust the margin as needed */
}

.chart-text {
    text-align: center;
}

.chart-stats {
    text-align: center;
    margin-top: 10px;
}

.data-list {
    text-align: left;
}

.data-list h3 {
    margin-bottom: 10px;
}

.data-list ul {
    list-style: none;
    padding: 0;
}

.data-list li {
    margin-bottom: 5px;
}

/* Add more styles as needed to match your design */